
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(252, 240, 226);

}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    height: 70vh;
    width: 90vh;

}
form{
    margin: 2rem 0 1rem 0;
}
form input, select ,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 2px solid rgb(177, 174, 174);
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.6rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.select-container img{
    max-width: 2.5rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(177, 174, 174) ;
    border-radius: 0.75rem;
    padding: 0.5rem;
}
.dropdown i{
    font-size: 1.5rem;
}
.msg{
    margin: 2rem 0 2rem 0;
}
button{
    padding: 1rem;
    background-color: rgb(12, 12, 112);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.select-container select::-webkit-scrollbar{
    width: 8px;
}
.select-container select::-webkit-scrollbar-track{
    background-color: rgb(250, 251, 251);
}
.select-container select::-webkit-scrollbar-thumb{
    background: rgb(155, 146, 129);
    border-radius: 8px;
    /* border-right: 2px solid #474444; */
}


@media(max-width: 700px){
    .container{
        
        font-size: 0.8rem;
        width: 40vh; 
        max-height: 60vh;
    }
    h1{
        font-size: 1.2rem;
    }
    button{
        padding: 0.5rem;
    }
    .select-container img{
        max-width: 2rem;
    }
    .dropdown i{
        font-size: 1rem;
    }
}
button:active{
    transform: scale(0.96);
}










